*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
build
*~

Debug/
Release/
build/
Libraries/
*.orig
*.bak
JLink.log
log
*.tar.gz
*.axf
*.bin
*.map
*.tmp
settings/


#mdk5
Listings/
Objects/
JLinkLog.txt


#iar7
*.dep

#eclipse
.metadata/
RemoteSystemsTempFiles/
Debug/
.settings/